---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="404 error page" description="Navigate back to site">
    <div class="container">
        <h1>404 error. This page doesn't exist, SORRY!</h1>
        <a href="/">Navigate Back to the Home Page</a>
    </div>
</MainLayout>