---
import MainLayout from "../layouts/MainLayout.astro";
let pageTitle = "About Me - Logan Murray";
let pageDescription = "Learn More About ME, Logan Murray, Software Engineer";
---

<MainLayout title={pageTitle} description={pageDescription}>
    <div class="main_content about-me">
        <!-- START HERO SECTION -->
        <section class="hero bg-dark w100 flex flex_wrap flex_center-all">
            <div class="flex_col col_50-100 flex_center stack-bottom hero-left">
                <div class="w100">
                    <h1 class="txt-xlarge fancy_text">About Me</h1>
                </div>

                <p class="top_bottom-p1 txt-medium hero-text">
                    Frontend Developer at Officite to sole Web & Content
                    Developer at Boost Auto Parts, and now Software Engineer at
                    The Flybook. My journey to grow in both my personal life and
                    career is always evolving for the better.
                </p>
                <div class="w100">
                    <a href="/future-goals">
                        <button class="cta">My Future Goals</button>
                    </a>
                </div>
            </div>
            <div class="flex_col col_50-100 flex_center txt-center stack-top">
                <img
                    src="../assets/depaul.jpg"
                    alt="Loop Campus"
                    id="loop_pic"
                    class="fancy-border"
                />
            </div>
        </section>
        <!-- END OF HERO SECTION -->

        <!-- START OF SLIDESHOW -->
        <section class="bg-light">
            <h1 class="section_header">My Family</h1>
            <h3 class="section_caption">
                I live with my beautiful wife (<span class="orange-underline"
                    >Courtney</span
                >) and our two dorky dogs (<span class="orange-underline"
                    >Bodie & Quill</span
                >) and we have two toddlers (<span
                    class="orange-underline">Elsie & August</span
                >).
            </h3>
            <div class="glide">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        <li class="glide__slide">
                            <figure>
                                <img
                                    src="https://i.ibb.co/gM1zh9w/bodie1.jpg"
                                    alt="Bodie"
                                />
                            </figure>
                        </li>
                        <li class="glide__slide">
                            <figure>
                                <img
                                    src="https://i.ibb.co/kg1dbqD/quill1.jpg"
                                    alt="Quill"
                                />
                            </figure>
                        </li>
                        <li class="glide__slide">
                            <figure>
                                <img
                                    src="https://i.ibb.co/zx5BG4m/IMG-6561.jpg"
                                    alt="My Wife and I"
                                />
                            </figure>
                        </li>
                        <li class="glide__slide">
                            <figure>
                                <img
                                    src="https://i.ibb.co/JRk4PDyt/PXL-20240721-180447897.jpg"
                                    alt="My Wife and I & Kids"
                                />
                            </figure>
                        </li>
                        <li class="glide__slide">
                            <figure>
                                <img
                                    src="https://i.ibb.co/MDWHkN3/both1.jpg"
                                    alt="Quill and Bodie"
                                />
                            </figure>
                        </li>
                        <li class="glide__slide">
                            <figure>
                                <img
                                    src="https://i.ibb.co/93w9bS6/both3.jpg"
                                    alt="Quill and Bodie"
                                />
                            </figure>
                        </li>
                    </ul>
                </div>
                <div class="glide__arrows" data-glide-el="controls">
                    <button
                        class="glide__arrow glide__arrow--left"
                        data-glide-dir="<"
                    >
                        <img
                            src="../assets/back-arrow.svg"
                            alt="backward arrow"
                        />
                    </button>
                    <button
                        class="glide__arrow glide__arrow--right"
                        data-glide-dir=">"
                    >
                        <img
                            src="../assets/forward-arrow.svg"
                            alt="forward arrow"
                        />
                    </button>
                </div>
            </div>
        </section>
    </div>
    <!-- END OF SLIDESHOW -->
    <script>
        // Slideshow - Glide.js
        new Glide(".glide", {
            type: "carousel",
            startAt: 0,
            perView: 3,
            focusAt: "center",
            autoplay: 3000,
            gap: 20,
            hoverpause: true,
            animationDuration: 800,
            breakpoints: {
                1024: {
                    perView: 2,
                },
                800: {
                    perView: 1,
                },
            },
        }).mount();
    </script>
</MainLayout>
