---
import MainLayout from "../layouts/MainLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";
let pageTitle = "My Project - Logan Murray, Frontend Developer";
let pageDescription = "View my projects and resume.";

---

<MainLayout title={pageTitle} description={pageDescription}>
    <div class="main_content projects">
        <!-- START HERO SECTION -->
        <section class="hero bg-dark w100 flex flex_wrap flex_center-all">
            <div class="flex_col col_50-100 flex_center stack-bottom hero-left">
                <div class="w100">
                    <h1 class="txt-xlarge fancy_text">Projects</h1>
                </div>

                <p class="top_bottom-p1 txt-medium hero-text">
                    I will post my projects here directly when I get the chance. But
                    check out my
                    <a href="https://github.com/lpmurray16" rel="noopener noreferrer" target="_blank">GitHub!</a>
                </p>
                <div class="w100">
                    <a href="/about-me">
                        <button class="cta">Learn More About Me</button>
                    </a>
                </div>
            </div>
            <div class="flex_col col_50-100 flex_center txt-center stack-top">
                <img src="../assets/guy_at_desk.svg" alt="guy sitting at desk" class="loop_pic" />
            </div>
        </section>
        <!-- END OF HERO SECTION -->

        <!-- START OF CARDS/SKILL SECTION -->
        <section class="bg-light">
            <h1 class="section_header">Completed and Ongoing Projects</h1>
            <h3 class="section_caption">I try my best to update this, but time makes fools of us all.</h3>

            <div id="basic-projects" class="flex flex_wrap flex_center-all flex_gap-small w100">
                <h3 class="language_header w100 fb100">HTML/CSS/JS Projects</h3>
                <ProjectCard anchor="astro-site" projectName="Astro Auto Parts"
                    shortDesc="For an interview I refactored a landing page to showcase my UI/UX and development skills."
                    projectLink="https://astro-auto-parts.vercel.app/" projectImg="/assets/car-wheel.png" />
                <ProjectCard anchor="drums-site" projectName="Drum Kit JS"
                    shortDesc="Practice with JavaScript and the DOM to create a drum kit."
                    projectLink="https://drumkit-1.vercel.app/" projectImg="/assets/drum.png" />
                <ProjectCard anchor="clock-site" projectName="Simple Analog Clock"
                    shortDesc="Practice with JavaScript Date method and CSS manipulation."
                    projectLink="https://analog-clock-xi.vercel.app/" projectImg="/assets/clock.png" />
            </div>
            <div id="react-projects" class="flex flex_wrap flex_center-all flex_gap-small w100">
                <h3 class="language_header w100 fb100">React Projects</h3>
                <ProjectCard anchor="react-img-search" projectName="React Image Search"
                    shortDesc="A simple image search webapp written in ReactJS utilizing the Unsplash API."
                    projectLink="https://pics-unsplash.vercel.app/" projectImg="/assets/img_search.png" />
                <ProjectCard anchor="react-video-search" projectName="React Video Search"
                    shortDesc="A simple video search webapp written in ReactJS utilizing the YouTube API."
                    projectLink="https://yt-video-clone.vercel.app/" projectImg="/assets/video_search.png" />
                <ProjectCard anchor="react-widgets" projectName="React Widgets"
                    shortDesc="A small collection of ReactJS widgets. Uses Wikipedia API and Google Translate API."
                    projectLink="https://widgets-simple.vercel.app/" projectImg="/assets/settings.png" />
                <ProjectCard anchor="react-hp-quiz" projectName="React HP Quiz"
                    shortDesc="A simple yet scalable quiz application using Astro and React."
                    projectLink="https://hp-quiz-app.netlify.app/" projectImg="/assets/magic-wand.png" />
                <ProjectCard anchor="react-firebase-chat" projectName="MegaChat RT Chat"
                    shortDesc="A real-time chat application using React and Firebase."
                    projectLink="https://megachat.vercel.app/" projectImg="/assets/car-wheel.png" />
                <ProjectCard anchor="react-todo-app" projectName="Simple Todo App"
                    shortDesc="A real-time chat application using Astro and React."
                    projectLink="https://lpm-todo-app.netlify.app/" projectImg="/assets/clock.png" />
            </div>

        </section>
    </div>
    <!-- END OF SECTION -->
</MainLayout>