---
---

<!-- START OF CARDS/SKILL SECTION -->
<section class="bg-light bg-crosses">
    <!-- ROW -->
    <div class="flex flex_wrap flex_center flex_stretch-y cards">
        <div class="card flex flex_col animate">
            <div class="card_top">
                <img src="assets/html-css-js.png" alt="HTML/CSS/JS" />
                <h2>HTML5/CSS3/JS</h2>
            </div>
            <div class="card_bottom">
                <p>
                    A strong foundation yet ever a constantly growing area in my development
                    journey because every role and personal project I take on uses these tools in some capacity.
                </p>
                <a href="/projects"
                    ><button class="cta w100">View Projects</button>
                </a>
            </div>
        </div>
        <div class="card flex flex_col animateRight animate">
            <div class="card_top">
                <img src="assets/reactjs.png" alt="React" />
                <h2>React</h2>
            </div>
            <div class="card_bottom">
                <p>
                    I started off my framework journey with React because of its popularity and
                    versatility. I have used React for mostly personal projects to further
                    my understanding of it because I am a firm believer of building things to
                    understand them better.
                </p>
                <a href="/projects"
                    ><button class="cta w100">View Projects</button>
                </a>
            </div>
        </div>
    </div>
    <!-- ROW -->
    <div class="flex flex_center flex_wrap flex_stretch-y">
        <div class="card flex flex_col animate">
            <div class="card_top">
                <img src="assets/java.png" alt="Java" />
                <h2>Java</h2>
            </div>
            <div class="card_bottom">
                <p>
                    Most of my classes at DePaul were taught in Java. Data
                    Structures and OOP were primarily taught in Java while my
                    systems classes were all C/C++. I do not enjoy C/C++ as much
                    as I enjoy Java.
                </p>
                <a href="/projects"
                    ><button class="cta w100">View Projects</button>
                </a>
            </div>
        </div>
        <div class="card flex flex_col animate animateRight">
            <div class="card_top">
                <img src="assets/python.png" alt="Python" />
                <h2>Python</h2>
            </div>
            <div class="card_bottom">
                <p>
                    Python is one of those hate to love programming languages
                    for me. It is so simple and relaxed with its syntax that
                    sometimes I forget I am programming at all. But it is very
                    useful and has a Swiss Army Knife of usability.
                </p>
                <a href="/projects"
                    ><button class="cta w100">View Projects</button>
                </a>
            </div>
        </div>
    </div>
    <!-- ROW -->
    <div class="flex flex_center flex_wrap flex_stretch-y">
        <div class="card flex flex_col animate">
            <div class="card_top">
                <img src="assets/mysql.png" alt="SQL" />
                <h2>MySQL</h2>
            </div>
            <div class="card_bottom">
                <p>
                    Though I typically rely heavily on ORM frameworks when
                    building a backend I am versed in relational and non-relational DBs and have taken
                    multiple DB Management courses.
                </p>
                <a href="/projects"
                    ><button class="cta w100">View Projects</button>
                </a>
            </div>
        </div>
        <div class="card flex flex_col animate animateRight">
            <div class="card_top">
                <img src="assets/wordpress.png" alt="WordPress" />
                <h2>WordPress</h2>
            </div>
            <div class="card_bottom">
                <p>
                    WordPress is very fun to experiment with and in my CMS class
                    we learned a lot of just how capable WordPress is as a web
                    building platform. We even learned some PHP and made our own
                    plugins.
                </p>
                <a href="/projects"
                    ><button class="cta w100">View Projects</button>
                </a>
            </div>
        </div>
    </div>
    <!-- ROW -->
    <div class="flex flex_center flex_wrap flex_stretch-y">
        <div class="card flex flex_col animate">
            <div class="card_top">
                <img src="assets/angular_logo.png" alt="Angular Logo" />
                <h2>Angular</h2>
            </div>
            <div class="card_bottom">
                <p>
                    I started off with React because of its popularity at the
                    time, but I wish I had started with Angular because it is
                    such a robust framework. Though the routing could be a bit
                    more streamlined.
                </p>
                <a href="/projects"
                    ><button class="cta w100">View Projects</button>
                </a>
            </div>
        </div>
        <div class="card flex flex_col animate animateRight">
            <div class="card_top">
                <img src="assets/c_sharp.svg" alt="C# Logo" />
                <h2>C#</h2>
            </div>
            <div class="card_bottom">
                <p>
                    At The Flybook we use C# for our backend and NHibernate for our ORM, 
                    I learned quick due to my prior Java and C++ knowledge and skills.
                </p>
                <a href="/projects"
                    ><button class="cta w100">View Projects</button>
                </a>
            </div>
        </div>
    </div>
</section>
<script>
    const faders = document.querySelectorAll(".animate");

    const appearOptions = {
        threshold: 1,
        rootMargin: "0px 0px -50px 0px",
    };

    const appearOnScroll = new IntersectionObserver(
        (entries, appearOnScroll) => {
            entries.forEach((entry) => {
                if (!entry.isIntersecting) {
                    return;
                } else {
                    if (entry.target.classList.contains("animateRight")) {
                        entry.target.classList.add("fadeUpInRight");
                        appearOnScroll.unobserve(entry.target);
                    } else {
                        entry.target.classList.add("fadeUpInLeft");
                        appearOnScroll.unobserve(entry.target);
                    }
                }
            });
        },
        appearOptions
    );

    faders.forEach((fader) => {
        appearOnScroll.observe(fader);
    });
</script>
