---
---

<footer>
    <section class="bg-dark footer">
        <h1 class="section_header fancy_text">Contact Info</h1>
        <h3 class="section_caption">
            Please reach out to me with any questions.
        </h3>
        <div class="flex flex_center flex_col">
            <div class="flex flex_col col_50-100 flex_center-all margin-auto">
                <form name="contact" method="POST" data-netlify="true">
                    <div>
                        <p>
                            <label>Your Name: </label><input type="text" name="name" placeholder="John Doe" />
                        </p>
                        <p>
                            <label>Your Email: </label><input type="email" name="email"
                                placeholder="youremail@email.com" />
                        </p>
                    </div>
                    <p>
                        <label>Subject: </label><input type="text" name="subject"
                            placeholder="Question/Opportunity/Comment/etc." />
                    </p>
                    <p>
                        <label>Message: </label><textarea name="message"
                            placeholder="Description of why you are reaching out..."></textarea>
                    </p>
                    <p class="txt-center submit">
                        <button class="cta" type="submit">Submit</button>
                    </p>
                </form>
            </div>
            <div class="top_bottom-p1 flex flex_evenly social_icons">
                <div>
                    <a href="mailto:logan@lmurray.info"><img class="social-icon" src="../assets/email.png"
                            alt="Email" /></a>
                    <span class="hidden-text tooltip">My Email</span>
                </div>
                <div>
                    <a href="https://www.linkedin.com/in/log-mur16/" rel="noopener noreferrer" target="_blank"><img
                            class="social-icon" src="../assets/linkedin2.png" alt="LinkedIn Logo" /></a>
                    <span class="hidden-text tooltip">LinkedIn</span>
                </div>
                <div>
                    <a href="https://github.com/lpmurray16" rel="noopener noreferrer" target="_blank"><img
                            class="social-icon" src="../assets/github.png" alt="GitHub Logo" /></a>
                    <span class="hidden-text tooltip">GitHub</span>
                </div>
                <div>
                    <a href="https://codepen.io/lpmurray16" rel="noopener noreferrer" target="_blank"><img
                            class="social-icon" src="../assets/coding.png" alt="Coding" /></a>
                    <span class="hidden-text tooltip">CodePen</span>
                </div>
            </div>
        </div>
    </section>
    <div class="flex flex_center-all anchor-top">
        <a href="#top"><button class="cta">To Top</button></a>
    </div>
</footer>
<script>
    $(function () {
        $(".social_icons div").hover(function () {
            $(this).children(".hidden-text").slideToggle();
        });
    });
</script>