---

---
<header>
    <div id="top"></div>
    <!--Top anchor-->
    <div class="header">
        <!-- top left -->
        <div class="icon_title">
            <a id="home_icon" href="/"
                ><img src="/new_logo.png" alt="Icon" class="icon"
            /></a>
        </div>
        <!-- top right -->
        <nav class="desktop-nav">
            <ul class="nav_list">
                <li class="list_item">
                    <a href="/">Home</a>
                </li>
                <li class="list_item">
                    <a href="/about-me">About Me</a>
                </li>
                <li class="list_item">
                    <a href="/projects">Projects</a>
                </li>
                <li class="list_item">
                    <a href="/future-goals">Future Goals</a>
                </li>
                <li class="list_item">
                    <a href="/assets/LoganMurray02_25.pdf" download="Murray_Resume.pdf"><i class="download_icon"></i>Resume</a>
                </li>
            </ul>
        </nav>

        <!-- Hamburger Menu Start -->
        <div class="menu__container flex flex_center-all">
            <i class="open__nav hamburger__icon"></i>
            <p class="menu__text">MENU</p>
        </div>
        <div class="cover off_canvas-x">
            <!-- Backdrop -->
            <div class="cover__overlay"></div>

            <!-- Sidebar -->
            <div class="cover__sidebar">
                <!-- the close button -->
                <button class="close__nav">
                    <div class="button__line button__line--first"></div>
                    <div class="button__line button__line--second"></div>
                </button>
                <!-- The nav inside -->
                <nav class="sidebar_nav">
                    <ul class="sidebar_nav_list">
                        <a href="/"><li class="list_item">Home</li></a>
                        <a href="/about-me"
                            ><li class="list_item">About Me</li></a
                        >
                        <a href="/projects"
                            ><li class="list_item">Projects</li></a
                        >
                        <a href="/future-goals">
                            <li class="list_item">Future Goals</li></a
                        >
                        <a href="/assets/Murray_04-09-22.pdf" download="Murray_Resume.pdf">
                            <li class="list_item"><i class="download_icon"></i>Resume</li>
                        </a>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<script>
    // Menu on mobile and tablet
    const openMenu = document.querySelector(".open__nav");
    const closeMenu = document.querySelector(".close__nav");
    const menu = document.querySelector(".cover");
    const outsideNav = document.querySelector(".cover__overlay");

    const toggleNav = (menu) => {
        if (menu.classList.contains("off_canvas-x")) {
            menu.classList.remove("off_canvas-x");
        } else {
            menu.classList.add("off_canvas-x");
        }
    };

    openMenu.addEventListener("click", (e) => {
        toggleNav(menu);
    });

    closeMenu.addEventListener("click", (e) => {
        toggleNav(menu);
    });

    outsideNav.addEventListener("click", (e) => {
        toggleNav(menu);
    });
</script>